body{
    font-family: Verdana;
}
.background-font img{
    background-position: center;
}
.background-font{
    position: relative;
    text-align: center;
    color: rgb(243, 239, 239);
}
.text{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 200%;
    font-weight: bolder;
    color: white;
}
.button{
    text-decoration: none;
    background-color: red;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 50%;
}
.text2{
    font-size: 50%;
}
  
h2{
    text-align: center;
    font-size: xx-large;
    margin-top: 140px;
}
p{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
}
.box1 {
    width: 150px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    background-color: aliceblue;
    margin-left: 15px;
  }
.box1:hover{
    border: 3px solid rgb(13, 13, 14);
    background-color: rgb(242, 203, 210);
    width: 400px;
}
.other{
    margin-top: 50px;
    width: 450px;
    margin-left: 35%;
    border-bottom: 2px solid black;
    text-align: center;
}
.button2{
    text-decoration: none;
    background-color: red;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 50%;
    margin-left: 45%;
    font-size: large;
}
a:hover{
    border: 4px solid rgb(144, 144, 225);
}
.box-master{
    display: flex;
    justify-content: center;
}
.box2 {
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
    margin-left: 25px;
    
}
#box2i{
    background-color: rgb(160, 216, 216);
}
#box2j{
    background-color: rgb(240, 172, 240);
}
#box2k{
    background-color: bisque;
}
.box2 p{
    padding-top: 15px;
}
h4{
    font-size: x-large;
}
p{
    font-size: large;
}
.site-footer{
    background: red;
}
.site-footer{
    background: black;
    margin-bottom: 0px;

}
.last2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: medium;
    padding-bottom: 40px;
}
.last1{
    color: crimson;
    font-size: xx-large;
    text-align: center;
    font-family: 'Lobster', cursive;
    padding-top: 40px;
}